Repository sb01-team10/sb01-otboo-team10, pull requests merged in 2025-07, with the labels that each got.

#75 Refactor: 의상 등록,수정 리팩토링
  src/main/java/com/codeit/weatherwear/domain/clothes/controller/ClothController.java
  src/main/java/com/codeit/weatherwear/domain/clothes/dto/request/ClothesAttributeDto.java
  src/main/java/com/codeit/weatherwear/domain/clothes/dto/request/ClothesCreateRequest.java
  src/main/java/com/codeit/weatherwear/domain/clothes/dto/request/ClothesUpdateRequest.java
  src/main/java/com/codeit/weatherwear/domain/clothes/dto/response/ClothesAttributeDefDto.java
  src/main/java/com/codeit/weatherwear/domain/clothes/dto/response/ClothesAttributeWithDefDto.java
  src/main/java/com/codeit/weatherwear/domain/clothes/dto/response/ClothesDto.java
  src/main/java/com/codeit/weatherwear/domain/clothes/entity/Attribute.java
  src/main/java/com/codeit/weatherwear/domain/clothes/entity/Cloth.java
  src/main/java/com/codeit/weatherwear/domain/clothes/entity/ClothWithAttributes.java
  src/main/java/com/codeit/weatherwear/domain/clothes/mapper/ClothMapper.java
  src/main/java/com/codeit/weatherwear/domain/clothes/repository/ClothRepository.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/AttributeServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceImpl.java
  src/test/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceTest.java
Labels: refactor, chore, test

#81 Feat: Notification CRUD
  src/main/java/com/codeit/weatherwear/domain/follow/FollowService.java
  src/main/java/com/codeit/weatherwear/domain/follow/dto/FollowDto.java
  src/main/java/com/codeit/weatherwear/domain/notification/Notification.java
  src/main/java/com/codeit/weatherwear/domain/notification/NotificationController.java
  src/main/java/com/codeit/weatherwear/domain/notification/NotificationDto.java
  src/main/java/com/codeit/weatherwear/domain/notification/NotificationRepository.java
  src/main/java/com/codeit/weatherwear/domain/notification/NotificationService.java
  src/main/java/com/codeit/weatherwear/domain/notification/repository/NotificationCustomRepository.java
  src/main/java/com/codeit/weatherwear/domain/notification/repository/NotificationCustomRepositoryImpl.java
  src/main/java/com/codeit/weatherwear/domain/notification/repository/NotificationRepository.java
  src/test/java/com/codeit/weatherwear/domain/notification/NotificationRepositoryTest.java
  src/test/java/com/codeit/weatherwear/domain/notification/NotificationServiceTest.java
Labels: fix, feat, test

#82 Feat: 인증(Auth) API 구현
  src/main/java/com/codeit/weatherwear/domain/auth/controller/AuthController.java
  src/main/java/com/codeit/weatherwear/domain/auth/service/AuthService.java
  src/main/java/com/codeit/weatherwear/domain/auth/service/AuthServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/security/config/SecurityConfig.java
  src/main/java/com/codeit/weatherwear/domain/security/customauthentication/CustomAuthenticationSuccessHandler.java
  src/main/java/com/codeit/weatherwear/domain/security/customauthentication/CustomUserDetails.java
  src/main/java/com/codeit/weatherwear/domain/security/customauthentication/CustomUserDetailsService.java
  src/main/java/com/codeit/weatherwear/domain/security/customauthentication/jwt/JwtAuthenticationFilter.java
  src/main/java/com/codeit/weatherwear/domain/security/customauthentication/jwt/JwtLogoutHandler.java
  src/main/java/com/codeit/weatherwear/domain/security/dto/TokenRotationResult.java
  src/main/java/com/codeit/weatherwear/domain/security/exception/InvalidJwtException.java
  src/main/java/com/codeit/weatherwear/domain/security/exception/JwtSessionNotFoundException.java
  src/main/java/com/codeit/weatherwear/domain/security/repository/JwtSessionRepository.java
  src/main/java/com/codeit/weatherwear/domain/security/service/JwtSessionService.java
  src/main/java/com/codeit/weatherwear/domain/user/service/UserServiceImpl.java
  src/main/java/com/codeit/weatherwear/global/exception/ErrorCode.java
  src/test/java/com/codeit/weatherwear/domain/user/service/UserServiceImplTest.java
Labels: feat, refactor, chore, test

#83 Feat: Feed 댓글 API 구현
  src/main/java/com/codeit/weatherwear/domain/feed/controller/FeedCommentController.java
  src/main/java/com/codeit/weatherwear/domain/feed/dto/condition/FeedCommentSearchCondition.java
  src/main/java/com/codeit/weatherwear/domain/feed/dto/request/FeedCommentCreateRequest.java
  src/main/java/com/codeit/weatherwear/domain/feed/dto/request/FeedCommentGetParamRequest.java
  src/main/java/com/codeit/weatherwear/domain/feed/dto/response/FeedCommentDto.java
  src/main/java/com/codeit/weatherwear/domain/feed/mapper/FeedCommentMapper.java
  src/main/java/com/codeit/weatherwear/domain/feed/repository/FeedCommentCustomRepository.java
  src/main/java/com/codeit/weatherwear/domain/feed/repository/FeedCommentRepository.java
  src/main/java/com/codeit/weatherwear/domain/feed/repository/impl/FeedCommentCustomRepositoryImpl.java
  src/main/java/com/codeit/weatherwear/domain/feed/service/FeedCommentService.java
  src/main/java/com/codeit/weatherwear/domain/feed/service/impl/FeedCommentServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/feed/service/impl/FeedServiceImpl.java
  src/test/java/com/codeit/weatherwear/domain/feed/service/impl/FeedCommentServiceImplTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/service/impl/FeedServiceImplTest.java
Labels: feat, test

#88 Feat: Feed 좋아요 API 구현
  src/main/java/com/codeit/weatherwear/domain/feed/controller/FeedController.java
  src/main/java/com/codeit/weatherwear/domain/feed/controller/FeedLikeController.java
  src/main/java/com/codeit/weatherwear/domain/feed/entity/Feed.java
  src/main/java/com/codeit/weatherwear/domain/feed/mapper/FeedLikeMapper.java
  src/main/java/com/codeit/weatherwear/domain/feed/repository/FeedLikeRepository.java
  src/main/java/com/codeit/weatherwear/domain/feed/service/FeedLikeService.java
  src/main/java/com/codeit/weatherwear/domain/feed/service/FeedService.java
  src/main/java/com/codeit/weatherwear/domain/feed/service/impl/FeedLikeServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/feed/service/impl/FeedServiceImpl.java
  src/test/java/com/codeit/weatherwear/domain/feed/service/impl/FeedLikeServiceImplTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/service/impl/FeedServiceImplTest.java
Labels: feat, refactor, test

#89 Refactor: 페이지네이션에 Pageable, Slice를 사용하도록 변경
  src/main/java/com/codeit/weatherwear/domain/follow/FollowController.java
  src/main/java/com/codeit/weatherwear/domain/follow/FollowService.java
  src/main/java/com/codeit/weatherwear/domain/follow/repository/FollowRepositoryCustom.java
  src/main/java/com/codeit/weatherwear/domain/follow/repository/FollowRepositoryImpl.java
  src/main/java/com/codeit/weatherwear/domain/notification/NotificationController.java
  src/main/java/com/codeit/weatherwear/domain/notification/NotificationService.java
  src/main/java/com/codeit/weatherwear/domain/notification/repository/NotificationCustomRepository.java
  src/main/java/com/codeit/weatherwear/domain/notification/repository/NotificationCustomRepositoryImpl.java
  src/test/java/com/codeit/weatherwear/domain/follow/FollowRepositoryTest.java
  src/test/java/com/codeit/weatherwear/domain/notification/NotificationRepositoryTest.java
Labels: refactor, test

#94 Refactor:옷,속성 커스텀에러,로그 적용 & 조회 테스트 추가
  .gitignore
  src/main/java/com/codeit/weatherwear/domain/clothes/controller/AttributeController.java
  src/main/java/com/codeit/weatherwear/domain/clothes/controller/ClothController.java
  src/main/java/com/codeit/weatherwear/domain/clothes/entity/Attribute.java
  src/main/java/com/codeit/weatherwear/domain/clothes/entity/ClothWithAttributes.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/AttributeAlreadyExistsException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/AttributeNotFoundException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/ClothAlreadyExistsException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/ClothNotFoundException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/InvalidAttributeNameException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/SelectableDuplicateException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/AttributeServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceImpl.java
  src/main/java/com/codeit/weatherwear/global/exception/ErrorCode.java
  src/test/java/com/codeit/weatherwear/domain/clothes/repository/AttributeRepositoryTest.java
  src/test/java/com/codeit/weatherwear/domain/clothes/repository/ClothRepositoryTest.java
  src/test/java/com/codeit/weatherwear/domain/clothes/service/AttributeDefServiceTest.java
  src/test/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceTest.java
Labels: docs, feat, refactor, chore, test

#101 Feat: 추천 기능 1차 제작
  src/main/java/com/codeit/weatherwear/domain/clothes/entity/Attribute.java
  src/main/java/com/codeit/weatherwear/domain/clothes/repository/AttributeRepository.java
  src/main/java/com/codeit/weatherwear/domain/clothes/repository/ClothRepository.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/AttributeServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/controller/RecommendationApi.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/controller/RecommendationController.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/dto/RecommendationDto.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/service/RecommendationService.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/service/RecommendationServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/weather/repository/WeatherRepository.java
  src/test/java/com/codeit/weatherwear/domain/clothes/service/AttributeDefServiceTest.java
Labels: fix, feat, refactor, chore, test

#106 Feat: CSRF 보호 설정 활성화 #105
  src/main/java/com/codeit/weatherwear/domain/auth/controller/AuthController.java
  src/main/java/com/codeit/weatherwear/domain/security/config/SecurityConfig.java
Labels: feat, chore

#110 Feat: 구매링크로 옷 등록 기능 추가
  build.gradle
  src/main/java/com/codeit/weatherwear/domain/clothes/controller/ClothController.java
  src/main/java/com/codeit/weatherwear/domain/clothes/controller/api/ClothApi.java
  src/main/java/com/codeit/weatherwear/domain/clothes/repository/ClothRepository.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/ClothService.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/MusinsaParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/SiteParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/TwentyNineCmParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/ZigZagParser.java
  src/test/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceTest.java
Labels: fix, feat, chore, test

#121 Feat: 카카오 OAuth 로그인
  src/main/java/com/codeit/weatherwear/domain/security/config/SecurityConfig.java
  src/main/java/com/codeit/weatherwear/domain/security/customauthentication/CustomAuthenticationSuccessHandler.java
  src/main/java/com/codeit/weatherwear/domain/security/customauthentication/CustomUserDetails.java
  src/main/java/com/codeit/weatherwear/domain/security/customauthentication/oauth2/CustomOAuth2SuccessHandler.java
  src/main/java/com/codeit/weatherwear/domain/security/customauthentication/oauth2/CustomOAuth2UserService.java
  src/main/resources/application.yml
Labels: feat, refactor, chore

#130 Test: Feed 관련 기존 서비스 테스트 로직 수정
  src/test/java/com/codeit/weatherwear/domain/feed/repository/impl/FeedCommentCustomRepositoryImplTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/repository/impl/FeedCustomRepositoryImplTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/service/impl/FeedCommentServiceImplTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/service/impl/FeedLikeServiceImplTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/service/impl/FeedServiceImplTest.java
Labels: test

#134 Refactor: Feed 및 관련 도메인 테스트 코드 작성 및 추가 리팩토링
  src/main/java/com/codeit/weatherwear/domain/feed/controller/FeedController.java
  src/main/java/com/codeit/weatherwear/domain/feed/repository/FeedCustomRepository.java
  src/main/java/com/codeit/weatherwear/domain/feed/repository/impl/FeedCommentCustomRepositoryImpl.java
  src/main/java/com/codeit/weatherwear/domain/feed/repository/impl/FeedCustomRepositoryImpl.java
  src/main/java/com/codeit/weatherwear/domain/feed/service/FeedService.java
  src/main/java/com/codeit/weatherwear/domain/feed/service/impl/FeedServiceImpl.java
  src/test/java/com/codeit/weatherwear/domain/feed/controller/FeedCommentControllerTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/controller/FeedControllerTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/controller/FeedLikeControllerTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/repository/FeedRepositoryTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/repository/impl/FeedCommentCustomRepositoryImplTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/repository/impl/FeedCustomRepositoryImplTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/service/impl/FeedLikeServiceImplTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/service/impl/FeedServiceImplTest.java
Labels: refactor, test

#138 Test: Location 테스트 코드 추가 및 일부 코드 리팩토링
  src/main/java/com/codeit/weatherwear/domain/location/api/LocationApiClient.java
  src/main/java/com/codeit/weatherwear/domain/weather/api/WeatherApiClient.java
  src/main/java/com/codeit/weatherwear/global/config/HttpClientConfig.java
  src/test/java/com/codeit/weatherwear/domain/location/api/LocationApiClientTest.java
  src/test/java/com/codeit/weatherwear/domain/location/service/LocationServiceImplTest.java
  src/test/java/com/codeit/weatherwear/domain/location/util/LamcUtilsTest.java
Labels: refactor, test

#140 Test: User 도메인 테스트 코드 수정, 추가
  src/main/java/com/codeit/weatherwear/domain/user/controller/UserController.java
  src/main/java/com/codeit/weatherwear/domain/user/repository/UserCustomRepositoryImpl.java
  src/main/java/com/codeit/weatherwear/domain/user/service/UserService.java
  src/main/java/com/codeit/weatherwear/domain/user/service/UserServiceImpl.java
  src/test/java/com/codeit/weatherwear/domain/user/controller/UserControllerTest.java
  src/test/java/com/codeit/weatherwear/domain/user/repository/UserRepositoryTest.java
  src/test/java/com/codeit/weatherwear/domain/user/service/UserServiceImplTest.java
Labels: fix, test

#146 Test: 날씨 API 관련 테스트 코드 추가
  src/test/java/com/codeit/weatherwear/domain/weather/api/WeatherApiClientTest.java
  src/test/java/com/codeit/weatherwear/domain/weather/assembler/WeatherAssemblerTest.java
  src/test/java/com/codeit/weatherwear/domain/weather/controller/WeatherControllerTest.java
Labels: test

#149 Feat: 옷, 속성, 추천 서비스테스트 코드 추가, 로그 처리
  src/main/java/com/codeit/weatherwear/domain/clothes/controller/AttributeController.java
  src/main/java/com/codeit/weatherwear/domain/clothes/controller/ClothController.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/InvalidAttributeValueException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/mapper/ClothMapper.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/AttributeServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/MusinsaParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/TwentyNineCmParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/ZigZagParser.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/service/RecommendationServiceImpl.java
  src/main/java/com/codeit/weatherwear/global/exception/ErrorCode.java
  src/test/java/com/codeit/weatherwear/domain/clothes/service/AttributeDefServiceTest.java
  src/test/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceTest.java
  src/test/java/com/codeit/weatherwear/domain/recommendation/service/RecommendationServiceImplTest.java
Labels: refactor, chore, test

#155 Refactor: ClothMapper 변경 사항에 따른 관련 코드 수정
  src/main/java/com/codeit/weatherwear/domain/ootd/mapper/OotdMapper.java
Labels: refactor

#157 Refactor: 옷, 속성 리팩토링
  src/main/java/com/codeit/weatherwear/domain/clothes/controller/ClothController.java
  src/main/java/com/codeit/weatherwear/domain/clothes/controller/api/AttributeApi.java
  src/main/java/com/codeit/weatherwear/domain/clothes/controller/api/ClothApi.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/attribute/AttributeAlreadyExistsException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/attribute/AttributeNotFoundException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/attribute/InvalidAttributeValueException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/attribute/SelectableDuplicateException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/cloth/ClothAlreadyExistsException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/cloth/ClothNotFoundException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/cloth/ExtractionNotFoundException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/cloth/ExtractionTimeOutException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/mapper/ClothMapper.java
  src/main/java/com/codeit/weatherwear/domain/clothes/repository/AttributeCustomRepositoryImpl.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/AttributeServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/ClothService.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/MusinsaParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/TwentyNineCmParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/ZigZagParser.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/attributeCategory/AttributeType.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/attributeCategory/Season.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/attributeCategory/ThickNess.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/attributeCategory/WaterProof.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/service/RecommendationServiceImpl.java
  src/main/java/com/codeit/weatherwear/global/exception/ErrorCode.java
  src/main/java/com/codeit/weatherwear/global/storage/s3/S3ThumbnailImageStorage.java
  src/test/java/com/codeit/weatherwear/domain/clothes/service/AttributeDefServiceTest.java
  src/test/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceTest.java
Labels: refactor, chore, test

#152 Test: sse 통합 테스트 코드 작성
  build.gradle
  src/main/java/com/codeit/weatherwear/domain/event/listener/WebSocketHandler.java
  src/main/java/com/codeit/weatherwear/global/sse/SseController.java
  src/main/java/com/codeit/weatherwear/global/sse/SseEmitterRepository.java
  src/main/java/com/codeit/weatherwear/global/sse/SseService.java
  src/test/java/com/codeit/weatherwear/global/config/TestSecurityConfig.java
  src/test/java/com/codeit/weatherwear/global/sse/SseEmitterRepositoryTest.java
  src/test/java/com/codeit/weatherwear/global/sse/SseIntegrationTest.java
  src/test/resources/application-test.yml
Labels: chore, test

#162 Fix: nginx 설정에 oauth 경로 추가 #161
  nginx/conf.d/default.conf
  src/main/resources/application.yml
Labels: chore

#165 Test: 웹소켓 통합 테스트
  src/main/java/com/codeit/weatherwear/domain/directmessage/DirectMessageService.java
  src/main/java/com/codeit/weatherwear/domain/event/DomainEventPublisher.java
  src/main/java/com/codeit/weatherwear/domain/notification/NotificationService.java
  src/main/java/com/codeit/weatherwear/domain/user/service/UserServiceImpl.java
  src/main/java/com/codeit/weatherwear/global/event/DomainEventPublisher.java
  src/main/java/com/codeit/weatherwear/global/event/SpringEventPublisher.java
  src/main/java/com/codeit/weatherwear/global/event/dto/ClothAttributeAddedEvent.java
  src/main/java/com/codeit/weatherwear/global/event/dto/DirectMessageReceivedEvent.java
  src/main/java/com/codeit/weatherwear/global/event/dto/DomainEvent.java
  src/main/java/com/codeit/weatherwear/global/event/dto/FeedLikeEvent.java
  src/main/java/com/codeit/weatherwear/global/event/dto/FolloweeFeedPostedEvent.java
  src/main/java/com/codeit/weatherwear/global/event/dto/MultipleNotificationCreatedEvent.java
  src/main/java/com/codeit/weatherwear/global/event/dto/NewFeedCommentEvent.java
  src/main/java/com/codeit/weatherwear/global/event/dto/NewFollowerEvent.java
  src/main/java/com/codeit/weatherwear/global/event/dto/NotificationCreatedEvent.java
  src/main/java/com/codeit/weatherwear/global/event/dto/RoleChangedEvent.java
  src/main/java/com/codeit/weatherwear/global/event/listener/NotificationEventListener.java
  src/main/java/com/codeit/weatherwear/global/event/listener/SseEventListener.java
  src/main/java/com/codeit/weatherwear/global/event/listener/WebSocketHandler.java
  src/main/java/com/codeit/weatherwear/global/sse/SseMessageRepository.java
  src/test/java/com/codeit/weatherwear/domain/directmessage/DirectMessageIntegrationTest.java
  src/test/java/com/codeit/weatherwear/domain/notification/NotificationServiceTest.java
  src/test/java/com/codeit/weatherwear/domain/user/service/UserServiceImplTest.java
  src/test/java/com/codeit/weatherwear/global/sse/SseIntegrationTest.java
  src/test/java/com/codeit/weatherwear/global/sse/SseMessageRepositoryTest.java
  src/test/resources/application-test.yml
Labels: refactor, chore, test

#164 Chore: 배포 관련 스크립트 추가
  .github/workflows/deploy.yml
  Dockerfile
  build.gradle
  nginx/Dockerfile
  nginx/conf.d/default.conf
  src/main/java/com/codeit/weatherwear/WeatherwearApplication.java
  src/main/resources/application-prod.yml
  src/main/resources/application.yml
Labels: chore, deploy

#172 Feat: OAuth2 로그인 기능 수정
  src/main/java/com/codeit/weatherwear/domain/security/config/SecurityConfig.java
  src/main/java/com/codeit/weatherwear/domain/security/customauthentication/oauth2/CustomOAuth2FailureHandler.java
  src/main/java/com/codeit/weatherwear/domain/security/customauthentication/oauth2/CustomOAuth2UserService.java
  src/main/java/com/codeit/weatherwear/domain/user/entity/User.java
  src/main/java/com/codeit/weatherwear/domain/user/repository/UserRepository.java
Labels: feat, refactor, chore

#179 Refactor: 추천 로직 고도화
  src/main/java/com/codeit/weatherwear/domain/recommendation/attributeCategory/Thickness.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/service/FallbackRecommendationService.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/service/RecommendationServiceImpl.java
  src/test/java/com/codeit/weatherwear/domain/recommendation/service/RecommendationServiceImplTest.java
Labels: feat, refactor, test

#180 Refactor: 날씨 배치 관련 피드백 반영 및 테스트 코드 수정
  src/main/java/com/codeit/weatherwear/WeatherwearApplication.java
  src/main/java/com/codeit/weatherwear/domain/location/api/LocationApiClient.java
  src/main/java/com/codeit/weatherwear/domain/weather/api/WeatherApiClient.java
  src/main/java/com/codeit/weatherwear/domain/weather/batch/config/WeatherBatchProperties.java
  src/main/java/com/codeit/weatherwear/domain/weather/batch/config/WeatherForecastBatchJobConfig.java
  src/main/java/com/codeit/weatherwear/domain/weather/batch/task/WeatherItemReader.java
  src/main/java/com/codeit/weatherwear/global/properties/LocationApiProperties.java
  src/main/java/com/codeit/weatherwear/global/properties/WeatherApiProperties.java
  src/test/java/com/codeit/weatherwear/domain/location/api/LocationApiClientTest.java
  src/test/java/com/codeit/weatherwear/domain/weather/api/WeatherApiClientTest.java
  src/test/java/com/codeit/weatherwear/domain/weather/batch/WeatherBatchJobIntegrationTest.java
Labels: refactor, test

#186 Fix: 테스트 종료가 지연되는 현상 수정
  src/test/java/com/codeit/weatherwear/global/config/TestContainerConfig.java
Labels: chore

#191 refactor: ApplicationContextInitializer를 이용해 싱글톤 컨테이너 구현
  src/test/java/com/codeit/weatherwear/domain/clothes/integration/AttributeTest.java
  src/test/java/com/codeit/weatherwear/domain/clothes/integration/ClothTest.java
  src/test/java/com/codeit/weatherwear/domain/clothes/repository/AttributeRepositoryTest.java
  src/test/java/com/codeit/weatherwear/domain/clothes/repository/ClothRepositoryTest.java
  src/test/java/com/codeit/weatherwear/domain/clothes/repository/ClothWithAttributesRepositoryTest.java
  src/test/java/com/codeit/weatherwear/domain/directmessage/DirectMessageIntegrationTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/repository/FeedRepositoryTest.java
  src/test/java/com/codeit/weatherwear/domain/follow/FollowRepositoryTest.java
  src/test/java/com/codeit/weatherwear/domain/notification/NotificationRepositoryTest.java
  src/test/java/com/codeit/weatherwear/domain/user/repository/UserRepositoryTest.java
  src/test/java/com/codeit/weatherwear/domain/weather/batch/BatchJobReaderExceptionTest.java
  src/test/java/com/codeit/weatherwear/domain/weather/batch/WeatherBatchJobIntegrationTest.java
  src/test/java/com/codeit/weatherwear/domain/weather/repository/WeatherRepositoryTest.java
  src/test/java/com/codeit/weatherwear/global/config/ContainerInitializer.java
  src/test/java/com/codeit/weatherwear/global/config/TestContainerConfig.java
  src/test/java/com/codeit/weatherwear/global/sse/SseIntegrationTest.java
Labels: refactor, chore, test

#192 Refactor: 옷 추천 캐시 도입
  build.gradle
  src/main/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/service/AIRecommendationService.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/service/RandomRecommendService.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/service/RecommendationServiceImpl.java
  src/main/java/com/codeit/weatherwear/global/config/CacheConfig.java
  src/main/resources/application.yml
  src/test/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceTest.java
  src/test/java/com/codeit/weatherwear/domain/recommendation/service/RecommendationServiceImplTest.java
  src/test/resources/application-test.yml
Labels: feat, refactor, chore, test

#193 Docs: User, Auth 도메인 swagger api 문서화
  src/main/java/com/codeit/weatherwear/domain/auth/controller/AuthController.java
  src/main/java/com/codeit/weatherwear/domain/auth/controller/api/AuthApi.java
  src/main/java/com/codeit/weatherwear/domain/auth/dto/ResetPasswordRequest.java
  src/main/java/com/codeit/weatherwear/domain/user/controller/UserController.java
  src/main/java/com/codeit/weatherwear/domain/user/controller/api/UserApi.java
  src/main/java/com/codeit/weatherwear/domain/user/dto/request/ChangePasswordRequest.java
  src/main/java/com/codeit/weatherwear/domain/user/dto/request/ProfileUpdateRequest.java
  src/main/java/com/codeit/weatherwear/domain/user/dto/request/UserCreateRequest.java
  src/main/java/com/codeit/weatherwear/domain/user/dto/request/UserLockUpdateRequest.java
  src/main/java/com/codeit/weatherwear/domain/user/dto/request/UserRoleUpdateRequest.java
  src/main/java/com/codeit/weatherwear/domain/user/dto/request/UserSearchRequest.java
  src/main/java/com/codeit/weatherwear/domain/user/dto/response/ProfileDto.java
  src/main/java/com/codeit/weatherwear/domain/user/dto/response/UserDto.java
Labels: chore

#202 Docs: Notification, DirectMessage, Follow 도메인 api 문서 작성
  src/main/java/com/codeit/weatherwear/domain/directmessage/controller/DirectMessageController.java
  src/main/java/com/codeit/weatherwear/domain/directmessage/controller/api/DirectMessageApi.java
  src/main/java/com/codeit/weatherwear/domain/follow/controller/FollowController.java
  src/main/java/com/codeit/weatherwear/domain/follow/controller/api/FollowApi.java
  src/main/java/com/codeit/weatherwear/domain/notification/controller/NotificationController.java
  src/main/java/com/codeit/weatherwear/domain/notification/controller/api/NotificationApi.java
Labels: chore

#208 Feat: 특별한 날씨 변화에 따른 알림 이벤트 구현
  build.gradle
  src/main/java/com/codeit/weatherwear/domain/feed/service/impl/FeedCommentServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/feed/service/impl/FeedLikeServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/user/repository/UserRepository.java
  src/main/java/com/codeit/weatherwear/domain/weather/batch/task/WeatherAlertAnalyzer.java
  src/main/java/com/codeit/weatherwear/domain/weather/batch/task/WeatherAlertReason.java
  src/main/java/com/codeit/weatherwear/domain/weather/batch/task/WeatherAlertResult.java
  src/main/java/com/codeit/weatherwear/domain/weather/batch/task/WeatherItemProcessor.java
  src/main/java/com/codeit/weatherwear/global/event/dto/DomainEvent.java
  src/main/java/com/codeit/weatherwear/global/event/dto/WeatherAlertEvent.java
  src/main/java/com/codeit/weatherwear/global/event/listener/NotificationEventListener.java
  src/test/java/com/codeit/weatherwear/domain/feed/service/impl/FeedCommentServiceImplTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/service/impl/FeedLikeServiceImplTest.java
Labels: feat, chore, test

#210 Refactor: 유저 조회 캐시 도입
  src/main/java/com/codeit/weatherwear/domain/security/customauthentication/CustomAuthenticationFilter.java
  src/main/java/com/codeit/weatherwear/domain/user/controller/api/UserApi.java
  src/main/java/com/codeit/weatherwear/domain/user/repository/UserRepository.java
  src/main/java/com/codeit/weatherwear/domain/user/service/UserServiceImpl.java
  src/main/java/com/codeit/weatherwear/global/config/CacheConfig.java
  src/main/java/com/codeit/weatherwear/global/exception/ErrorCode.java
  src/test/java/com/codeit/weatherwear/domain/user/service/UserServiceImplTest.java
Labels: feat, refactor, chore, test

#211 Feat: kafka 도입
  .github/workflows/codecov-wf.yml
  build.gradle
  src/main/java/com/codeit/weatherwear/global/event/dto/DomainEvent.java
  src/main/java/com/codeit/weatherwear/global/event/exception/KafkaMessageConvertException.java
  src/main/java/com/codeit/weatherwear/global/event/listener/KafkaHandler.java
  src/main/java/com/codeit/weatherwear/global/event/listener/NotificationEventListener.java
  src/main/java/com/codeit/weatherwear/global/exception/ErrorCode.java
  src/main/java/com/codeit/weatherwear/global/properties/KafkaTopics.java
  src/main/resources/application.yml
Labels: feat, chore, test

#212 Refactor: 코드 리뷰 반영 리팩토링 #210
  src/main/java/com/codeit/weatherwear/domain/security/customauthentication/CustomAuthenticationFilter.java
  src/main/java/com/codeit/weatherwear/domain/user/service/UserServiceImpl.java
Labels: refactor, chore

#218 Feat: 의상 속성 알림 이벤트 & 속성 수정 시 불필요한 조건 제거 & 추천 두께 기준 완화
  src/main/java/com/codeit/weatherwear/domain/clothes/service/AttributeServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/service/RecommendationServiceImpl.java
  src/main/java/com/codeit/weatherwear/global/event/dto/ClothAttributeUpdatedEvent.java
  src/main/java/com/codeit/weatherwear/global/event/dto/DomainEvent.java
  src/main/java/com/codeit/weatherwear/global/event/listener/KafkaHandler.java
  src/main/java/com/codeit/weatherwear/global/event/listener/NotificationEventListener.java
  src/main/java/com/codeit/weatherwear/global/properties/KafkaTopics.java
  src/main/resources/application.yml
  src/test/java/com/codeit/weatherwear/domain/clothes/integration/ClothTest.java
  src/test/java/com/codeit/weatherwear/domain/clothes/service/AttributeDefServiceTest.java
Labels: fix, feat, refactor, chore, test

#224 Deploy: Actions 스크립트 수정
  .github/workflows/deploy.yml
  nginx/conf.d/default.conf
Labels: deploy

#225 Fix:Selenium을 Jsoup으로 변경
  build.gradle
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/cloth/ClothNameDuplicatedException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/cloth/ExtractionException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/cloth/ExtractionNotFoundException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/exception/cloth/ExtractionTimeOutException.java
  src/main/java/com/codeit/weatherwear/domain/clothes/repository/ClothRepository.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/MusinsaParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/SiteParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/TwentyNineCmParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/ZigZagParser.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/service/AIRecommendationService.java
  src/main/java/com/codeit/weatherwear/global/exception/ErrorCode.java
  src/main/resources/application.yml
  src/test/java/com/codeit/weatherwear/domain/clothes/integration/ClothTest.java
  src/test/resources/application-test.yml
Labels: fix, refactor, chore, test

#228 Fix: 알림이 간헐적으로 전송되지 않는 현상 수정
  docker-compose.yml
  src/main/java/com/codeit/weatherwear/global/event/listener/DirectMessageKafkaListener.java
  src/main/java/com/codeit/weatherwear/global/event/listener/NotificationKafkaListener.java
  src/main/java/com/codeit/weatherwear/global/event/listener/SseEventListener.java
  src/main/java/com/codeit/weatherwear/global/event/listener/SseKafkaListener.java
  src/main/java/com/codeit/weatherwear/global/event/publisher/NotificationKafkaPublisher.java
  src/main/java/com/codeit/weatherwear/global/event/publisher/SseKafkaPublisher.java
  src/main/java/com/codeit/weatherwear/global/properties/KafkaTopics.java
  src/main/java/com/codeit/weatherwear/global/sse/SseMessage.java
  src/main/java/com/codeit/weatherwear/global/sse/SseService.java
  src/main/resources/application-prod.yml
  src/main/resources/application.yml
  src/test/java/com/codeit/weatherwear/global/config/ContainerInitializer.java
  src/test/java/com/codeit/weatherwear/global/sse/SseIntegrationTest.java
  src/test/resources/application-test.yml
Labels: fix, feat, refactor, chore, test

#231 Chore: Nginx 실행 환경별 설정 파일 분리 #230
  docker-compose.yml
  nginx/Dockerfile
  nginx/conf.d/local.conf
Labels: chore

#234 Fix: docker compose로 실행 시, kafka에 연결할 수 없었던 문제 해결
  docker-compose.yml
Labels: chore

#232 Fix: 피드 관련 버그 리포트 해결
  docker-compose.yml
  src/main/java/com/codeit/weatherwear/domain/feed/controller/FeedController.java
  src/main/java/com/codeit/weatherwear/domain/feed/service/impl/FeedCommentServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/feed/service/impl/FeedLikeServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/feed/service/impl/FeedServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/follow/dto/UserSummaryDto.java
  src/main/java/com/codeit/weatherwear/domain/weather/batch/task/WeatherItemProcessor.java
  src/test/java/com/codeit/weatherwear/domain/feed/service/impl/FeedCommentServiceImplTest.java
  src/test/java/com/codeit/weatherwear/domain/feed/service/impl/FeedLikeServiceImplTest.java
Labels: fix, refactor, chore, test

#236 Test: 인증, 인가 테스트
  src/main/java/com/codeit/weatherwear/domain/security/config/properties/JwtProperties.java
  src/main/java/com/codeit/weatherwear/domain/security/properties/JwtProperties.java
  src/main/java/com/codeit/weatherwear/domain/security/service/JwtSessionService.java
  src/main/java/com/codeit/weatherwear/domain/user/entity/User.java
  src/test/java/com/codeit/weatherwear/domain/security/integration/AuthenticationTest.java
  src/test/java/com/codeit/weatherwear/domain/security/integration/AuthorizationTest.java
  src/test/java/com/codeit/weatherwear/domain/security/service/JwtSessionServiceTest.java
  src/test/java/com/codeit/weatherwear/global/config/ContainerInitializer.java
  src/test/resources/application-test-security.yml
Labels: feat, test

#240 Fix: 날씨, 위치 도메인 관련 버그 리포트 해결
  src/main/java/com/codeit/weatherwear/domain/feed/repository/FeedRepository.java
  src/main/java/com/codeit/weatherwear/domain/location/repository/LocationRepository.java
  src/main/java/com/codeit/weatherwear/domain/location/service/LocationServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/weather/api/WeatherApiClient.java
  src/main/java/com/codeit/weatherwear/domain/weather/assembler/WeatherAssembler.java
  src/main/java/com/codeit/weatherwear/domain/weather/batch/scheduler/WeatherBatchScheduler.java
  src/main/java/com/codeit/weatherwear/domain/weather/parser/WeatherApiParser.java
  src/main/java/com/codeit/weatherwear/domain/weather/repository/WeatherRepository.java
  src/main/java/com/codeit/weatherwear/domain/weather/service/impl/WeatherConvertServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/weather/service/impl/WeatherFetchServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/weather/service/impl/WeatherServiceImpl.java
  src/test/java/com/codeit/weatherwear/domain/location/service/LocationServiceImplTest.java
  src/test/java/com/codeit/weatherwear/domain/weather/assembler/WeatherAssemblerTest.java
  src/test/java/com/codeit/weatherwear/domain/weather/repository/WeatherRepositoryTest.java
  src/test/java/com/codeit/weatherwear/domain/weather/service/impl/WeatherConvertServiceImplTest.java
Labels: fix, refactor, test

#247 Bug: 지그재그, 옷 추천, 이미지 버그 해결
  build.gradle
  src/main/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/AbstractTagParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/MusinsaParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/SeleniumWebDriverProvider.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/SiteParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/TwentyNineCmParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/ZigZagParser.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/service/AIRecommendationService.java
  src/main/java/com/codeit/weatherwear/domain/recommendation/service/RecommendationServiceImpl.java
Labels: fix

#241 Test: 테스트 확인용 PR
  .gitignore
  src/main/java/com/codeit/weatherwear/domain/user/entity/User.java
  src/test/java/com/codeit/weatherwear/domain/clothes/integration/AttributeTest.java
  src/test/java/com/codeit/weatherwear/global/config/ContainerInitializer.java
  src/test/resources/application-test-security.yml
  src/test/resources/application-test.yml
  src/test/resources/schema.sql
Labels: fix, refactor, chore, test

#249 [Bug]지그재그 Jsoup 작동전 검사 실행
  src/main/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/MusinsaParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/SiteParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/TwentyNineCmParser.java
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/ZigZagParser.java
Labels: fix

#255 Test: 의상 테스트 추가
  src/main/java/com/codeit/weatherwear/domain/clothes/service/parser/SeleniumWebDriverProvider.java
  src/test/java/com/codeit/weatherwear/domain/clothes/integration/ClothTest.java
  src/test/java/com/codeit/weatherwear/domain/clothes/service/ClothServiceTest.java
  src/test/java/com/codeit/weatherwear/domain/recommendation/service/RecommendationServiceImplTest.java
Labels: test

#258 Fix: 팔로우 한 사람의 피드가 새로 올라오면 알림이 오도록 함
  src/main/java/com/codeit/weatherwear/domain/feed/service/impl/FeedServiceImpl.java
  src/main/java/com/codeit/weatherwear/domain/follow/repository/FollowRepository.java
  src/test/java/com/codeit/weatherwear/domain/feed/service/impl/FeedServiceImplTest.java
Labels: fix, test

#259 Fix: oauth redirect uri를 환경변수로 변경
  src/main/java/com/codeit/weatherwear/domain/security/customauthentication/oauth2/CustomOAuth2UserService.java
  src/main/resources/application.yml
Labels: fix, chore

#264 Docs: readme 작성, swagger api 문서 추가
  README.md
  api-docs.json
  src/main/java/com/codeit/weatherwear/global/config/SwaggerConfig.java
Labels: docs, chore
